{% extends 'auctions/layout.html' %}
{%load static %}

{%block body%}
<div class = "container">
    <div class="row justify-content-center mt-5 mb-3" style="text-align:center">
        <h5> Details </h5>
    </div>
    <form action="{% url 'auctions:newlisting' %}" method="post">
      {% csrf_token %}
      <fieldset disabled>
      <div class = "row justify-content-start ">
          <div class="col-4 mt-3">
                <div class="mb-1 mt-2">
                  <img src="{{listing.image_url}}" class="img-thumbnail" alt="...">
                </div>
          </div>
          <div class = "col-8 mt-3">
            <div class="mb-1">
              <label for = "product_name"> Product's name</label>
              <input class="form-control" name= "product_name" id = "product_name" type="text" placeholder="Name" aria-label="default input example" value = {{listing.product_name}} required>
            </div>

            <div class="mb-1">
              <label for = "description"> Description </label>
              <textarea class="form-control" name="description" id="description" rows="7" required>{{listing.description}}</textarea>  
            </div>

            <div class="mb-1">
              <label for = "category"> Category </label>
              <input class="form-control" name= "product_name" id = "category" type="text" placeholder="category" aria-label="default input example" value = {{listing.category}} required>
            </div>

            <div class="mb-1">
              <label for = "publish_date"> Publish Date </label>
              <input class="form-control" name= "product_name" id = "publish_date" type="text" placeholder="-" aria-label="default input example" value = "{{listing.publish_date|date:"D d M Y" }} {{listing.publish_date|time:"H:i" }}" required>
            </div>

            <div class="mb-1">
              <label for = "author"> Author</label>
              <input class="form-control" name= "author" id = "author" type="text" placeholder="-" aria-label="default input example" value = {{listing.author}} required>
            </div>

            <div class="mb-1">
              <label for = "highest_bid"> Highest Bid </label>
              <input class="form-control" name= "highest_bid" id = "highest_bid" type="text" placeholder="-" aria-label="default input example" value = {{listing.highest_bid}} required>
            </div>

          </div>
        </div>
      <fieldset>
    </form>
</div>
{%endblock%}