{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class = "white-bold" style = "text-align:center">Active Listings</h2>
    <div class="container">
        <div class="row justify-content-start">
            {%for listing in listings%}
            <div class = "col-auto">

                <div class="card" style="width: 18rem;">
                    <img src={{listing.image_url}} class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{listing.product_name}}</h5>
                      <p class="card-text">{{listing.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Price: R${{listing.base_price}} </li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}